div#contact
    h1 Send an email
    form(action="/myaction" method="post")

        p
            input(type="text", name="name", placeholder="Enter your name")
        p
            input(type="text", name="name2", placeholder="Enter name2")
        p
            input(type="submit" value="This is a submit button")

