<h3>you are in the admin page</h3>
<button class="btn btn-info">admin.handlebars</button>
<h4>{{link}}</h4>

{{#if admin}}
    <p>You ARE an Administrator</p>
{{else}}
    <p>You are NOT Administrator</p>
{{/if}}

