<div class="row">
    <h3 class="bg-success">Welcome to home.handlebars</h3>
</div>

<div class="row">

    <div class="col-md-6">
        <p>
            sdfsdf
        </p>
    </div>

</div>





