<h1>THis is home.handlebars</h1>
<h3>variable {{title}}</h3>

<ul>

    {{! THis is a private comments}}
    {{#each tour1}}
        <li>
            {{name}} : {{price}}
        </li>
    {{/each}}
</ul>

