div(id="content")
    p= ptext
    input(type="checkbox")
    | yes/no
    | start a new line with the PIPE symbol
a(href= 'http://www.google.com', title='View login page', target='_blank') Login
