<!doctype html>
<html>
<head>
    <title>Meadow SHIT</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="./stylesheets/bootstrap.css">
    <script src="./javascripts/jquery-2.1.3.js"></script>
    <script src="./javascripts/bootstrap.js"></script>

</head>
<body>
    <h2>THis is main.handlebars</h2>
    <button class="btn btn-primary">testing boot strap</button>
    <button class="btn btn-danger">ddd</button>
    {{{body}}}
</body>
</html>